<!--
    This page will be used to CRUD and display projects for South Fork Design.
    For this project, we did not add the database, so we chose to work only with the
    position and status tables. These are the tables that can be edited currently through a list
-->

@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<body class="IndexBody">
    <div class="jumbotron" style="background-color: transparent;">
        <div class="HeadingBox">
            <h1 class="headingText">Welcome to South Fork</h1>
            <div class="IndexText">
                @Html.ActionLink("About", "About", "Home")<br />
                @Html.ActionLink("Sign In", "Login", "Home")<br />
                @Html.ActionLink("Contact", "Contact", "Home")<br />
                @Html.ActionLink("Positions", "Index", "Position")<br />
                @Html.ActionLink("Statuses", "Index", "Status")
            </div>
        </div>

    </div>
</body>